/* Table */
.table .thead-light th {
    color: var(--lightGrey);
    background-color: var(--darkBlue);;
    border-color: #d8dbe0;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid;
    border-bottom-color: #d8dbe0;
}
.table thead th span {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;   
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid;
    border-top-color: #d8dbe0;
}
.text-center {
    text-align: center !important;
}
.table {
    width: 100%;
    margin-bottom: 10px;
    color: var(--darkBlue);
    border-collapse: collapse;
}
.table-outline {
    border: 1px solid;
    border-color: #d8dbe0;
}

.table tbody tr {
    height: 7vh;
}
.table tbody tr:hover {
    background: #38e1b036;
}
.table-content{
    padding: 1em;
}
.c-icon{
    height: 10%;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}
.c-avatar{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50em;
    width: 36px;
    height: 36px;
    font-size: 14.4px;
}
.c-avatar-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.c-avatar-status {
    position: absolute;
    bottom: 0;
    display: block;
    border: 1px solid #fff;
    border-radius: 50%;
    right: 0;
}
.c-avatar .c-avatar-status {
    width: 10px;
    height: 10px;
}
.bg-success {
    background-color: #2eb85c !important;
}
.small {
    font-size: 80%;
    font-weight: 400;
}
.text-muted {
    color: #768192 !important;
}

.table-productimg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.table-nodata{
    height:50vh;
    position:relative;
    border: 1px solid var(--lightGrey)
}
.table-nodata>p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}
.table-pageSize{
    font-size: 15px;
    color: #3e3e3e;
    text-transform: uppercase;
    border: 1px solid #9999;
    outline: none;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    background: var(--lightGrey1);
}