/* .size .formContent {
    display: unset;
} */
.companyTypeContainerForm .inputBox input,
.companyTypeContainerForm .inputBox select
{
    width: 100%;
    padding: 10px 0;
    font-size: 15px; 
    color: #3e3e3e;
    text-transform: uppercase;
    margin-bottom: 30px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #21dbd2;
    outline: none;
  }
  
  .companyTypeContainerForm .inputBox label {
    /* position: absolute;
    top: 0;
    left: 0; */
    font-weight: bold;
    padding: 10px 0;
    font-size: 15px;
    pointer-events: none;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  
  .companyTypeContainerForm .inputRow .inputBox input:focus~label,
  .companyTypeContainerForm .inputRow .inputBox input:valid~label {
    top: -30px;
    left: 0;
    color: salmon;
    font-size: 16px;
    font-style: italic;
  }
  .companyTypeContainerForm .addNew {
    margin: 0;
    background-color: #ebebeb7d;
    border:none;
    color: #272727;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
  }
  .companyTypeContainerForm button:hover {
    background-color: #444444;
    color: whitesmoke;
    cursor:
    pointer;
  }
  .companyTypeContainerForm .btnSubmit{
    width: 52%;
    padding: 10px 0;
    font-size: 15px;
    color: #ebebeb;
    text-transform: uppercase;
    margin: 30px 0;
    border: none;
    background: #1d1b31;
    outline: none;
    flex: 1 3;
  }
   .manufacturerFormContent{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  } 
  .addressContainerForm{
    flex: 1 2;
    margin: 0 0 0 50px;

  }