/* .size .formContent {
    display: unset;
} */
.itemTypeForm .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 15px; 
    color: #3e3e3e;
    text-transform: uppercase;
    margin-bottom: 30px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #21dbd2;
    outline: none;
  }
  
  .itemTypeForm .inputBox label {
    /* position: absolute;
    top: 0;
    left: 0; */
    font-weight: bold;
    padding: 10px 0;
    font-size: 15px;
    pointer-events: none;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  
  .itemTypeForm .btnSubmit{
    width: 52%;
    padding: 10px 0;
    font-size: 15px;
    color: #ebebeb;
    text-transform: uppercase;
    margin: 30px 0;
    border: none;
    background: #1d1b31;
    outline: none;
  }