.product{
    flex:4 1;
    padding: 20px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.addProduct{
    flex:4 1;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.addProduct .productForm .inputBox label {
    /* position: absolute;
    top: 0;
    left: 0; */
    font-weight: bold;
    padding: 10px 0;
    font-size: 15px;
    pointer-events: none;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  
.addProduct .productForm .inputBox input:focus~label,
.addProduct .productForm .inputBox input:valid~label {
    top: -30px;
    left: 0;
    color: salmon;
    font-size: 16px;
    font-style: italic;
  }
.formContent .addNew {
    margin-left: 0;
    margin: 0 0 10px 50px;
    background-color: #ebebeb7d;
    border:none;
    color: #272727;
    padding: 7px;
    font-size: 15px;
    border-radius: 5px;
  }
.formContent button:hover {
    background-color: #21dbd2;
    color: whitesmoke;
    cursor: pointer;
  }

.btnSubmit{
  margin: 20px;
  min-width: 100px;
}